Connected Services/LogoFinder/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DieseLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DieseLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://data.sparxxe.com/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OnDemand.Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:OnDemand.Data" />
      <xs:element minOccurs="0" name="processTime" nillable="true" type="tns:OnDemand.ProcessTime2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnDemand.Image" nillable="true" type="tns:OnDemand.Image" />
  <xs:complexType name="OnDemand.Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="detections" nillable="true" type="tns:ArrayOfOnDemand.Detection" />
      <xs:element minOccurs="0" name="processTime" nillable="true" type="tns:OnDemand.ProcessTime" />
      <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnDemand.Data" nillable="true" type="tns:OnDemand.Data" />
  <xs:complexType name="ArrayOfOnDemand.Detection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OnDemand.Detection" nillable="true" type="tns:OnDemand.Detection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOnDemand.Detection" nillable="true" type="tns:ArrayOfOnDemand.Detection" />
  <xs:complexType name="OnDemand.Detection">
    <xs:sequence>
      <xs:element minOccurs="0" name="area" type="xs:double" />
      <xs:element minOccurs="0" name="areaPercentage" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="coordinates" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element minOccurs="0" name="iconUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="validationFlags" nillable="true" type="q2:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnDemand.Detection" nillable="true" type="tns:OnDemand.Detection" />
  <xs:complexType name="OnDemand.ProcessTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="time" type="xs:double" />
      <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnDemand.ProcessTime" nillable="true" type="tns:OnDemand.ProcessTime" />
  <xs:complexType name="OnDemand.ProcessTime2">
    <xs:sequence>
      <xs:element minOccurs="0" name="time" type="xs:int" />
      <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnDemand.ProcessTime2" nillable="true" type="tns:OnDemand.ProcessTime2" />
</xs:schema>